LVL-EASY
#1

In [2]:
a = [1,1,2,3,5,8,13,21,34,55,89] 
for num in a:
    if num < 5:
        print(num)

1
1
2
3

In [4]:
list = [10,21,4,5,6,93]
for num in list:
    if num % 2 == 0:
        print(num, end=" ")

10 4 6

In [8]:
color = ['Red','Green','White','Black','Pink','Yellow']
color = [x for (i,x) in enumerate(color) if i not in (0, 4, 5)]
print(color)

['Green', 'White', 'Black']

In [10]:
tuplex = ("tuple",False, 3.2,1)
print(tuplex)

('tuple', False, 3.2, 1)

In [14]:
#5

In [18]:
this_tuple = ("apple","banana","cherry","orange","kiwi","melon","mango")
print(this_tuple[-4:-1])

('orange', 'kiwi', 'melon')

In [20]:
list_item = ["eggs", "milk", "bread", "salami", "salad"]
list_name = set(list_item)
print(list_name)

{'salad', 'eggs', 'bread', 'milk', 'salami'}

In [22]:
city_set = {'India', 'Belgium', 'China', 'Austria', 'Scotland'}
city_set.remove('China')
print(city_set)

{'Belgium', 'Austria', 'India', 'Scotland'}

In [24]:
#10
setA = {23, 67, 98, 34, 25, 89, 35, 56, 25, 34}
setB = {89, 45, 98, 77, 60, 69, 34, 35, 23, 100}
set.intersection(setA,setB)

{23, 34, 35, 89, 98}

#LVL-MODERATE #1

In [27]:
duplicate = [ 23, 56, 67, 23, 97, 23, 78, 33, 90, 37, 75]
print(set(duplicate))

{97, 33, 67, 37, 75, 78, 23, 56, 90}

In [29]:
list = [ 23, 56, 67, 23, 97, 23, 78, 33, 90, 37, 75]
mylist = [list[i] for i in range(len(list)) if list.index(list[i]) == i]
print(mylist)

[23, 56, 67, 97, 78, 33, 90, 37, 75]

In [31]:
#2
list1 = ["Mike","Emma","Kelly"," ","Brad"," "]
result = [x for x in list1 if x != " "]
print(result)
for i in list1:
    if i!= " ":
        print(i)
    else:
        pass

['Mike', 'Emma', 'Kelly', 'Brad']
Mike
Emma
Kelly
Brad

In [33]:
gadgets = ["Mobile", "Laptop", 100, "Camera", 310.28, "Speakers", 27.00, "Television", 1000, "Laptop Case", "Camera Lens"]
list_str = []
list_int = []
for i in gadgets:
    t = type(i)==str
    if t:
        list_str.append(i)
    else:
        list_int.append(i)
print(list_str)

['Mobile', 'Laptop', 'Camera', 'Speakers', 'Television', 'Laptop Case', 'Camera Lens']

In [35]:
#4
list = [10,21,4,45,66,93,33,24]
for num in list:
    if num % 2 == 0:
        print(num,end=" ")

10 4 66 24

In [37]:
#4
def Reverse(tuples):
    new_tup = tuples[: :-1]
    return new_tup
tuples = (10,20,30,40,50)
print(Reverse(tuples))

(50, 40, 30, 20, 10)

In [57]:
tup1 = ("I'm", 22, 'Salary', 23.4)
tup_list = list(tup1)
salary_index = tup_list.index("salary")
tup_list.pop(salary_index)
new_tup = tuple(tup_list)
print(new_tup)

TypeError: 'list' object is not callable

In [41]:
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
#tuple[0] = "orange"
#tuple[1] = [10,20,30]
#list[1][1] = 20
print(aTuple[1][1])

20

In [43]:
def check(t):
    return all(i == t[0] for i in t)
    
tuple1 = (44, 44, 44, 44, 44, 44)
print(check(tuple1))

True

In [45]:
tuple = ("apple", "banana", "cherry")
if "apple" in tuple:
        print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [47]:
#9
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

In [49]:
#9
A = set("Python")
B = set("Class")
A.update(B) 
print(A)

{'a', 'h', 't', 'P', 's', 'n', 'l', 'o', 'C', 'y'}

In [14]:
name = "MikeRoss"
unique_chars = set(name)
for char in unique_chars:
    print(char)

i
o
k
e
R
s
M

DIFFICUL-LVL
#1

In [17]:
List1 = ["Hello","nice to"]
List2 = ["Dear", "meet you"]
result = [f"{List1[i]} {List2[i]}" for i in range(len(List1))]
print(result)

['Hello Dear', 'nice to meet you']

#2

In [19]:
def swap_nth_with_next(input_list):
    for i in range(0, len(input_list) - 1, 2):
        # Swap the elements at positions i and i+1
        input_list[i], input_list[i + 1] = input_list[i + 1], input_list[i]
    return input_list
sample_list = [0, 1, 2, 3, 4, 5]
output_list = swap_nth_with_next(sample_list)
print(output_list)

[1, 0, 3, 2, 5, 4]

In [21]:
#3
def split_list_every_nth(lst, n):
    result = [[] for _ in range(n)]
    for i in range(len(lst)):
        result[i % n].append(lst[i])
    return result
sample_list = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']
N = 3
output = split_list_every_nth(sample_list, N)
print(output)

[['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]

In [23]:
#4
tup=(2,4,5,6,2,3,4,4,7,8,4,3,2)
repeated_item = max(set(tup), key=tup.count)
print(repeated_item)

4

In [25]:
my_tuple = (('a', 23), ('b', 37), ('c', 11), ('d', 29))
sorted_tuple = tuple(sorted(my_tuple, key=lambda x: x[1]))
print(sorted_tuple)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [28]:
#6
data = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
filtered_data = [item for item in data if item != ()]
print(filtered_data)

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [44]:
vowels_string = 'aeiou'
vowels = list(vowels_string)
index = vowels.index('e')
print('The index of e:', index)
index = vowels.index('i')
print('The index of i:', index)

The index of e: 1
The index of i: 2

In [46]:
#8
mat = [[1,2,3,4], [5,6,7,8], [9,10,11,12], [13,14,15,16]]
result = [i for row in mat for i in row if i % 2 == 0]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16]

In [48]:
#9
setA = {'a', 'e', 'i', 'o', 'u', 'g', 'h'}
setB = {'a', 'e', 'z', 'b', 't', 'o', 'u'}
symdiffAB = setA.symmetric_difference(setB)
print("symdiffAB:", symdiffAB, "size:", len(symdiffAB))
symdiffBA = setB.symmetric_difference(setA)
print("symdiffBA:", symdiffBA, "size:", len(symdiffBA))

symdiffAB: {'t', 'z', 'g', 'h', 'b', 'i'} size: 6
symdiffBA: {'t', 'z', 'g', 'h', 'i', 'b'} size: 6

In [50]:
#10
frozen_set1 = frozenset([1,2,3,4,5])
frozen_set2 = frozenset([6,7,8,9,10])
print("Frozen set 1:",frozen_set1)
print("Frozen set 2:",frozen_set2)

Frozen set 1: frozenset({1, 2, 3, 4, 5})
Frozen set 2: frozenset({6, 7, 8, 9, 10})