#3(pandas practice)
1st question 
Read and write different file types using Pandas data frames?

In [2]:
#1(csv files)
import pandas as pd
df = pd.read_csv('A.txt')


# Write the dataframe to a CSV file
df.to_csv('output_file.csv', index=False)

In [4]:
#2(Reading exel files)
import pandas as pd
df = pd.read_csv('text.txt')

In [6]:
#3(JSON Files)
import pandas as pd
import json
data = '''
[
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 30},
    {"name": "Charlie", "age": 35}
]
'''
df = pd.read_json(data)
print(df)

      name  age
0    Alice   25
1      Bob   30
2  Charlie   35

C:\Users\mp12y\AppData\Local\Temp\ipykernel_8656\457409319.py:11: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_json(data)

In [8]:
#4( Parquet Files)
df_parquet = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35]
})
# Write dataframe to Parquet
df_parquet.to_parquet('output_parquet_file.parquet')

In [10]:
#5(SQL database)
import sqlite3
df_sql = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35]
})
conn = sqlite3.connect('output_sqlite_database.db')
df_sql.to_sql('people', conn, if_exists='replace', index=False)
conn.close()


#output will be like below
# | name    | age |
# |---------|-----|
# | Alice   |  25 |
# | Bob     |  30 |
# | Charlie |  35 |

In [12]:
#7(Stata files)
df_stata = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35]
})
df_stata.to_stata('output_stata_file.dta')
# Output: Stata files are binary and not human readable

In [14]:
#8(feature files)
df_feather = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35]
})
df_feather.to_feather('output_feather_file.feather')

#2nd question
Manipulate rows, columns, empty values in data frames?

In [17]:
#1 (Manipulating Rows)
#adding rows
import pandas as pd
df = pd.DataFrame({
    'name': ['Alice', 'Bob'],
    'age': [25, 30]
})
df.loc[2] = ['Charlie', 35] 
new_row = pd.DataFrame({'name': ['David'], 'age': [40]})
df = pd.concat([df, new_row], ignore_index=True)
print(df)

      name  age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40

In [19]:
#2(dropping a row)
df = df.drop(2)
print(df)

    name  age
0  Alice   25
1    Bob   30
3  David   40

In [21]:
#3(filtering row based on a condition)
df_filtered = df[df['age'] > 30]
print(df_filtered)

    name  age
3  David   40

In [23]:
#4(adding or modifying columns)
df['salary'] = [50000, 60000, 70000]
df['age'] = df['age'] + 1
print(df)

    name  age  salary
0  Alice   26   50000
1    Bob   31   60000
3  David   41   70000

In [25]:
#5(dropping a column)
df = df.drop('salary', axis=1)
print(df)

    name  age
0  Alice   26
1    Bob   31
3  David   41

In [27]:
#6(renaming column)
df_with_na = pd.DataFrame({
    'name': ['Alice', 'Bob', None],
    'age': [25, None, 35]
})

print(df_with_na.isna())

    name    age
0  False  False
1  False   True
2   True  False

In [29]:
#7(checking for missing value)
df_with_na = pd.DataFrame({
    'name': ['Alice', 'Bob', None],
    'age': [25, None, 35]
})

print(df_with_na.isna())

#8(filling missing value)
df_with_na['age'] = df_with_na['age'].fillna(30)
df_with_na['name'] = df_with_na['name'].fillna(method='ffill')
print(df_with_na)


#9(droping row with missing values)
df_clean = df_with_na.dropna()
print(df_clean)

#10(dropping column with missing values)
df_clean_columns = df_with_na.dropna(axis=1)
print(df_clean_columns)

#11(sorting data by column)
import pandas as pd
df = pd.DataFrame({
    'name': ['Alice', 'Bob'],
    'age': [25, 30]
})
df.loc[2] = ['Charlie', 35]
new_row = pd.DataFrame({'name': ['David'], 'age': [40]})
df = pd.concat([df, new_row], ignore_index=True)
df = df.rename(columns={'name': 'full_name', 'age': 'years'})
df_sorted = df.sort_values(by='years', ascending=False)
print(df_sorted)


#12(resetting index)
df_reset = df_sorted.reset_index(drop=True)
print(df_reset)

    name    age
0  False  False
1  False   True
2   True  False
    name   age
0  Alice  25.0
1    Bob  30.0
2    Bob  35.0
    name   age
0  Alice  25.0
1    Bob  30.0
2    Bob  35.0
    name   age
0  Alice  25.0
1    Bob  30.0
2    Bob  35.0
  full_name  years
3     David     40
2   Charlie     35
1       Bob     30
0     Alice     25
  full_name  years
0     David     40
1   Charlie     35
2       Bob     30
3     Alice     25

C:\Users\mp12y\AppData\Local\Temp\ipykernel_8656\579545445.py:11: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_with_na['name'] = df_with_na['name'].fillna(method='ffill')

#3rd question
Merge, join and query data from multiple data frames?

In [32]:
#1(merging dataframes)
import pandas as pd
df1 = pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie']
})
df2 = pd.DataFrame({
    'id': [2, 3, 4],
    'age': [30, 35, 40]
})
merged_df = pd.merge(df1, df2, on='id', how='inner')
print("Inner Merge:")
print(merged_df)

#left join
left_joined_df = pd.merge(df1, df2, on='id', how='left')
print("Left Merge:")
print(left_joined_df)

Inner Merge:
   id     name  age
0   2      Bob   30
1   3  Charlie   35
Left Merge:
   id     name   age
0   1    Alice   NaN
1   2      Bob  30.0
2   3  Charlie  35.0

In [34]:
#2(joining dataframe)
df1 = pd.DataFrame({
    'A': [1, 2, 3],
    'B': ['X', 'Y', 'Z'],
}, index=['a', 'b', 'c'])
df2 = pd.DataFrame({
    'C': ['P', 'Q', 'R'],
}, index=['b', 'c', 'd'])
joined_df = df1.join(df2, how='inner')
print(joined_df)

   A  B  C
b  2  Y  P
c  3  Z  Q

In [36]:
#3(quering dataframe)
df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': ['X', 'Y', 'Z', 'W'],
})
result_query = df.query('A > 2')
print(result_query)
result_boolean = df[df['B'] == 'Z']
print(result_boolean)

   A  B
2  3  Z
3  4  W
   A  B
2  3  Z

In [40]:
#4(combining dataframe with concatenation)
df1 = pd.DataFrame({'A': [1, 2], 'B': ['X', 'Y']})
df2 = pd.DataFrame({'A': [3, 4], 'B': ['Z', 'W']})
concat_df = pd.concat([df1, df2], axis=0, ignore_index=True)
print(concat_df)


#horizontal concatenation
df1 = pd.DataFrame({'A': [1, 2]})
df2 = pd.DataFrame({'B': ['X', 'Y']})
concat_df = pd.concat([df1, df2], axis=1)
print(concat_df)

   A  B
0  1  X
1  2  Y
2  3  Z
3  4  W
   A  B
0  1  X
1  2  Y

In [44]:
#5(handling missing data during merge/join)
import pandas as pd
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})
df2 = pd.DataFrame({
    'ID': [1, 2, 4],
    'Age': [25, 30, 22]
})
print(df1.columns)
print(df2.columns)
merged_df = pd.merge(df1, df2, on='ID', how='outer')
merged_df.fillna(0, inplace=True)  
print(merged_df)
merged_df.dropna(inplace=True)
print(merged_df)

Index(['ID', 'Name'], dtype='object')
Index(['ID', 'Age'], dtype='object')
   ID     Name   Age
0   1    Alice  25.0
1   2      Bob  30.0
2   3  Charlie   0.0
3   4        0  22.0
   ID     Name   Age
0   1    Alice  25.0
1   2      Bob  30.0
2   3  Charlie   0.0
3   4        0  22.0

In [46]:
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})
df2 = pd.DataFrame({
    'ID': [1, 2, 4],
    'Age': [25, 30, 22]
})
df3 = pd.DataFrame({
    'ID': [1, 3, 5],
    'City': ['New York', 'Los Angeles', 'Chicago']
})
merged_df = pd.merge(df1, df2, on='ID', how='outer')
merged_df = pd.merge(merged_df, df3, on='ID', how='outer')
filtered_df = merged_df.query('Age > 25')
print(filtered_df)

   ID Name   Age City
1   2  Bob  30.0  NaN

#4th question
Explore interoperability between Numpy & Pandas?

In [1]:
#1(Creating a Pandas DataFrame from a NumPy Array)
import numpy as np
import pandas as pd
arr = np.array([[1, 2, 3], [4, 5, 6]])
df = pd.DataFrame(arr, columns=["A", "B", "C"])
print(df)

   A  B  C
0  1  2  3
1  4  5  6

In [3]:
#2(Applying a NumPy Function to a Pandas DataFrame)
df["A"] = np.log(df["A"])
print(df)

          A  B  C
0  0.000000  2  3
1  1.386294  5  6

In [5]:
#3(using numpy with pandas and series)
s = pd.Series([1, 2, 3, 4])
s_squared = np.square(s)
print(s_squared)

0     1
1     4
2     9
3    16
dtype: int64

In [7]:
#4( extracting numpy arrays from pandas dataframe and series)
numpy_array = df.to_numpy()
print(numpy_array)
numpy_array_from_series = s.to_numpy()
print(numpy_array_from_series)

[[0.         2.         3.        ]
 [1.38629436 5.         6.        ]]
[1 2 3 4]

In [9]:
#5(index alignment and boardcasting in pandas)
df1 = pd.DataFrame({
    "A": [1, 2],
    "B": [3, 4]
})
df2 = pd.DataFrame({
    "A": [5, 6],
    "B": [7, 8]
}, index=[1, 2])
result = df1 + df2
print(result)

     A     B
0  NaN   NaN
1  7.0  11.0
2  NaN   NaN

In [11]:
#6(victorized operation  with numpy arrays)
arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])
result = arr1 + arr2
print(result)

[5 7 9]

In [13]:
#7(vectorized operations in pandas)
df["D"] = df["A"] * df["B"]
print(df)

          A  B  C         D
0  0.000000  2  3  0.000000
1  1.386294  5  6  6.931472

In [15]:
#8(handling missing data in pandas)
df_with_nan = pd.DataFrame({
    "A": [1, np.nan, 3],
    "B": [4, 5, np.nan]
})
df_with_nan_filled = df_with_nan.fillna(0)
print(df_with_nan_filled)

     A    B
0  1.0  4.0
1  0.0  5.0
2  3.0  0.0